name: ExampleCompile

on:
  pull_request:
    branches: 
      - master
      - develop
  push:
    branches:
      - master
      - develop

jobs:
  ConcurrencyExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile QueuedHandler example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  QueuedHandler.ex.cpp

  GenericUtilityExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile ConfinedValue example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  ConfinedValue.ex.cpp
    
    - name: compile ConfinedValue example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  VersionInfo.ex.cpp
    
  DateTimeExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Counter example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  Counter.ex.cpp
    
    - name: compile Date example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  Date.ex.cpp

    - name: compile DateTime example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  DateTime.ex.cpp

    - name: compile TimeStamp example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  TimeStamp.ex.cpp

    - name: compile Timer example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  Timer.ex.cpp
 

  ErrorHandlerExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile ErrorTracker example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  ErrorTracker.ex.cpp ..\..\src\logger.cpp
    
    - name: compile Tristate example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  Tristate.ex.cpp


  DiagnosticExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Debug Logger example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  logger.dbg.ex.cpp ..\..\src\logger.cpp

    - name: compile Not Debug Logger example
      working-directory: ./documentation/examples
      run: cl /EHsc /std:c++17 /I "..\..\src\Header"  logger.ndbg.ex.cpp ..\..\src\logger.cpp
