name: ExampleCompile

on:
  pull_request:
    branches: 
      - master
      - develop
  push:
    branches:
      - master
      - develop

jobs:
  GenericUtilityExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile ConfinedValue example
      working-directory: ./documentation/examples
      run: compile ConfinedValue.ex.cpp
    
  DateTimeExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Counter example
      working-directory: ./documentation/examples
      run: compile Counter.ex.cpp
    
    - name: compile Date example
      working-directory: ./documentation/examples
      run: compile Date.ex.cpp

    - name: compile DateTime example
      working-directory: ./documentation/examples
      run: compile DateTime.ex.cpp
 

  ErrorHandlerExamples:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile ErrorTracker example
      working-directory: ./documentation/examples
      run: compile ErrorTracker.ex.cpp
