name: UnitTest

on:
  pull_request:
    branches: 
      - master
      - develop
  push:
    branches:
      - master
      - develop

jobs:
  GeneralTest:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Timer Test Program
      working-directory: ./auto-test
      run: compile General.test.cpp
      
    - name: Run Test Program
      run: auto-test/General.test.exe

  ConfinedTest:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Timer Test Program
      working-directory: ./auto-test
      run: compile Confined.test.cpp
      
    - name: Run Test Program
      run: auto-test/Confined.test.exe

  ErrorTest:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Timer Test Program
      working-directory: ./auto-test
      run: compile Error.test.cpp
      
    - name: Run Test Program
      run: auto-test/Error.test.exe


  TimerTest:
    runs-on: windows-latest

    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile Timer Test Program
      working-directory: ./auto-test
      run: compile Timer.test.cpp
      
    - name: Run Test Program
      run: auto-test/Timer.test.exe

  QProcTest:
    runs-on: windows-latest
   
    steps:
    
    - uses: actions/checkout@v2

    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.5.0
    
    - name: compile QProc Test Program
      working-directory: ./auto-test
      run: compile QProc.test.cpp
      
    - name: Run Test Program
      run: auto-test/QProc.test.exe
